<h1>Shopping list app</h1>
<!-- Commented out for now -->
<!-- <button class="btn btn-secondary ml-2 mt-2" (click)="onUpdateClick()">
  Update
</button>
<button class="btn btn-secondary ml-2 mt-2" (click)="onClick()">
  Save Changes
</button> -->
  <p>
    {{this.statusMessage}}
  </p>
<span *ngIf="isLoading" class="spinner-border spinner-border-sm ml-2 mt-2" role="status" aria-hidden="true"></span>
<div class="container-fluid pt-4 pl-2">
  <div class="row">
    <form [formGroup]="itemsArrayForm">
      <div formArrayName=items>
        <div *ngFor="let item of items.controls; let i = index">
              <div class="col ml-2 pt-2">
                <input [formControlName]="i" [id]="i"
                (keydown)="onKeyDown($event, i)" />
              </div>
        </div>
      </div>
    </form>
  </div>

</div>