<h1>Shopping list app</h1>

<button (click)="onUpdateClick()">
  Update
</button>

<div class="container-fluid pt-4 pl-2">
  <div class="row">
    <form [formGroup]="itemsArrayForm">
      <div formArrayName=items>
        <div *ngFor="let item of items.controls; let i = index">
          <div class="card">
            <div class='card-body'>
              <input [formControlName]="i" [id]="i" (keydown.enter)="onKeydownEnter($event, i)" (keydown)="onKeyDown($event, i)"/>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <button class="btn btn-secondary pl-2 mt-2" (click)="onClick()">
    Save Changes
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>